
@import 'https://fonts.googleapis.com/css?family=Architects+Daughter|Press+Start+2P';

/*
    font-family: 'Architects Daughter', cursive;
    font-family: 'Permanent Marker', cursive;
http://orig07.deviantart.net/038a/f/2011/047/5/3/anime_background_by_akatsuka_d_suna-d39nu7v.png

*/


body{

}

header{
    margin-top:25px; 
    text-align: center; 
    font-family: 'Press Start 2P', cursive; 
    font-size:2em; 
}

header img{
    width:150px;
  
}




.questions img{
    width:300px; 
    height:200px; 
    margin-bottom:25px; 
}

#questions-remaining{
    font-size:1.5em; 
}
#timer{
   width:300px; 
   text-align: center; 
   margin:25px auto; 
  
    
}

.answer{
    margin: 15px auto;
    cursor:pointer;
    width:100%; 
    padding:5px; 
}

#game{
    margin:15px auto; 
    text-align: center; 
    background-color:#fff; 
    width:75%; 
    height:700px;
    font-family: 'Architects Daughter', cursive;
    font-size:1.5em; 
    
}

.results{
    width:100%; 
    height:100%; 
    display: none; 
       
}

.results-block{
    margin-top:50px; 
    
}

@media screen and (max-width:600px){
    
    .questions img{
        width:100%;
        height:175px; 
        
    }
    
    h1{
        font-size:1em; 
    }
    
    .answer{
        font-size:1.2em; 
    
    }
    
    #timer{
        margin-top:10px; 
    }
    
    header{
        font-size:1.5em; 
    }
}

